.company-offer {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.company-offer .add-offer-btn {
    position: absolute;
    top: 10%;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: background-color 0.3s ease;
}

.company-offer .add-offer-btn:hover {
    background-color: #a47ac4;
}

