.companyOffer {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
    position: relative;
}

.companyOffer>button {
    position: absolute;
    top: 100px;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: background-color 0.3s ease;
}