.offers-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.offers-container .offers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 0 12px;
    align-items: stretch;
}

.offers-container .offers .offer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    height: 100%;
}

.offers-container .offers .offer img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.offers-container .offers .offer .detail {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.offers-container .offers .offer .detail p {
    display: -webkit-box;
    -webkit-line-clamp: 3;       
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;   
    max-height: 4em;  
}

.offers-container .offers .offer .detail .view-offer-btn {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    padding: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: auto;
}

.offers-container .offers .offer .detail .view-offer-btn:hover {
    background: #a47ac4;
    border-color: #a47ac4;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(164, 122, 196, 0.4);
}

.offers-container .offers .offer .detail .view-application-btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    padding: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.offers-container .offers .offer .detail .view-application-btn:hover {
    background: rgba(180, 151, 205, 0.15);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(180, 151, 205, 0.3);
}

/* Media Queries */
@media (max-width: 768px) {
    .offers-container .offers {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .offers-container .offers {
        grid-template-columns: repeat(2, 1fr);
    }
}