.student-profile {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.student-profile .profile-card {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    margin-top: 2%;
    position: relative;
}

.student-profile .profile-card .user-icon {
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    padding: 20px;
}

.student-profile .profile-card .edit-profile-btn {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 100%;
    font-size: 20px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4%;
    top: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease, transform 0.3s ease;
}

.student-profile .profile-card .edit-profile-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.student-profile .profile-links {
    width: 100%;
    display: flex;
    gap: 16px;
}

.student-profile .profile-links .profile-link {
    flex: 1;
     padding: 14px 18px;
    border-radius: 12px;
    border: none;
    background: #f4f4f4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}

.student-profile .profile-skills {
    width: 100%;
    background: #f4f4f4;
    padding: 20px 24px;
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.student-profile .profile-skills .skills-title {
    margin-bottom: 12px;
    border-left: 4px solid var(--color-primary);
    padding-left: 8px;
}

.student-profile .profile-skills .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.student-profile .profile-skills .skills-list .skill-tag {
    padding: 6px 12px;
    border-radius: 999px;
    border: 1px solid var(--color-primary);
    font-size: 14px;
}

.student-profile .profile-skills .skills-list .skill-tag:hover {
    background-color: var(--color-primary);
    color: #f4f4f4; 
}

.student-profile .disconnect-btn {
    background-color: var(--color-btn-primary);
    color: var(--color-secondary);
    border:none;
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.student-profile .disconnect-btn:hover {
    background-color: #a47ac4;
    transform: translateY(-2px);
}