.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
    z-index: 999;
}

.popupCard {
    background: var(--color-secondary);
    padding: 32px;
    border-radius: 16px;
    max-width: 600px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.popupCard h2 {
    margin: 0;
    text-align: center;
    font-size: 22px;
    color: var(--color-primary);
}

.popupCard p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.popupActions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 100%;
    margin-top: 10px;
}

.popupCard form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 80%;
}

.popupCard form .formGroup {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
}

.popupCard form .formGroup input,
.popupCard form .formGroup textarea,
.popupCard form .formGroup select {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

.popupCard form .formGroup input:focus,
.popupCard form .formGroup textarea:focus,
.popupCard form .formGroup select:focus {
    outline: none;
    border: 2px solid var(--color-primary);
}

.popupCard form .formGroup textarea {
    max-height: 120px;
    max-width: 100%;
}

.popupCard form .popupActions {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.saveBtn,
.popupCard form .saveBtn {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    padding: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.saveBtn:hover,
.popupCard form .saveBtn:hover {
    background: #a47ac4;
    border-color: #a47ac4;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(164, 122, 196, 0.4);
}

.cancelBtn,
.popupCard form .cancelBtn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    padding: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.cancelBtn:hover,
.popupCard form .cancelBtn:hover {
    background: rgba(180, 151, 205, 0.15);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(180, 151, 205, 0.3);
}