.popup-add-offer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-add-offer-card {
    background: var(--color-secondary);
    padding: 32px;
    border-radius: 16px;
    max-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.popup-add-offer-card h2 {
    margin: 0;
    text-align: center;
    font-size: 22px;
    color: var(--color-primary);
}

.popup-add-offer-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.popup-add-offer-card form .form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.popup-add-offer-card form .form-group input,
.popup-add-offer-card form .form-group textarea,
.popup-add-offer-card form .form-group select {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

.popup-add-offer-card form .form-group input:focus,
.popup-add-offer-card form .form-group textarea:focus,
.popup-add-offer-card form .form-group select:focus {
    outline: none;
    border: 2px solid var(--color-primary);
}

.popup-add-offer-card form .form-group textarea {
    max-height: 200px;
    max-width: 100%;
}

.popup-add-offer-card form .list-keywords {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
    padding: 8px 0;
}

.popup-add-offer-card form .list-keywords::-webkit-scrollbar {
  height: 6px;
}

.popup-add-offer-card form .list-keywords::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); 
  border-radius: 10px;
}

.popup-add-offer-card form .list-keywords::-webkit-scrollbar-track {
  background-color: #ececec;
}

.popup-add-offer-card form .list-keywords .keyword-chip {
    padding: 6px 12px;
    border-radius: 999px;
    border: 1px solid var(--color-primary);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.popup-add-offer-card form .list-keywords .keyword-chip:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.popup-add-offer-card form .list-keywords .keyword-chip button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-add-offer-card form .list-keywords .keyword-chip:hover button {
    color: var(--color-secondary);
    cursor: pointer;  
}

.popup-add-offer-card form .popup-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup-add-offer-card form .save-btn {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    padding: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.popup-add-offer-card form .saveBtn:hover {
    background: #a47ac4;
    border-color: #a47ac4;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(164, 122, 196, 0.4);
}

.popup-add-offer-card form .cancel-btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    padding: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.popup-add-offer-card form .cancel-btn:hover {
    background: rgba(180, 151, 205, 0.15);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(180, 151, 205, 0.3);
}