.logo {
    width: auto;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.wrong-page {
    color: black;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    &:hover {
        cursor: pointer;
    }
}